[Desktop Entry]
Encoding=UTF-8
Name=Virtualcoin
Comment=VirtualCoin P2P Cryptocurrency
Exec=/usr/bin/darkcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/virtualcoin128.png
MimeType=x-scheme-handler/virtualcoin;
Categories=Office; Finance;
